<div id="<%= dom_id upl %>" class="pro">
  <p>
    <strong class="name">Name:</strong>
    <%= upl.name %>
  </p>

  <p>
    <strong class="proj">Project:</strong>
    <%= upl.project_id %>
  </p>

</div>


<style>
.pro{
  display:inline-block;
  font-size:20px;
  padding: 20px;
  display:absolute;
  /* left: 60px; */
  /* max-width: 500px; */
  margin: auto;
  /* border: 3px solid #73AD21; */
  /* margin: 50px; */
  border-radius: 19px;
    border-color: #dee2e6;
  height:200px;
  /* height: -10px; */
  /* margin-top: 100px; */
  /* width:-10px; */
  width: 200px;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  /* box-shadow: -1px 8px 50px -10px red; */
   box-shadow: -1px 15px 30px -12px #dc45fc;
  z-index: 9999;

}
.name{

}






</style>
