<% if current_user %>
<% if current_user.admin == true %>
<a href="/admin">Admin Panel</a>
<% else %>
<p>No Admin</p>
  
<% end %>

<% else %>

<div class="hero">
    <div class="box">
        <div class="button">
           <h1 class="btn"> <%= link_to 'Sign in', new_user_session_path, class:"btn" %></h1>

        </div>
        <div class="button">

            <h1  class="btn"><%= link_to 'Sign up', new_user_registration_path, class:"btn " %></h1>
        </div>
    </div>
</div>

<% end %>


 <style>

@import url('https://fonts.googleapis.com/css?family=Poppins:100, 200, 300, 400, 500, 600, 700, 800,900');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    /* background: #0e1538; */

}
.button{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.btn{
    position:relative;
    width:160px;;
    height:60px;
    display: inline-block;
    background: #fff;
    margin:20px;
}
.btn:before,
.btn:after{
    content: "";
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;

</style> 


