<% if current_user %>
<% if current_user.admin == true %>
<a href="/admin">Admin Panel</a>
<% else %>
<p>No Admin</p>
  
<% end %>

<% else %>

<div class="hero">
    <div class="box">
        <div class="button">
           <h1 class=""> <%= link_to 'Sign in', new_user_session_path, class:"btn" %></h1>

            <h1  class=""><%= link_to 'Sign up', new_user_registration_path, class:"btn " %></h1>
        </div>
    </div>
</div>

<% end %>
<style>

.hero{
    /* height: 100%; */
    /* width: 100%; */
    /* background: rgb(2,0,36); */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(152,28,73,1) 35%, rgba(0,212,255,1) 100%); */
    /* background-position: center; */
    /* background-size: cover; */
    /* position: absolute; */
}
.box{
    /* width: 380px; */
    /* height: 480px; */
    /* position: relative; */
    margin: 60% auto;
    /* background: #fff; */
    /* padding: 5px; */
}
.button-box{
    /* width: 220px; */
/* margin: 35px auto; */
/* position: relative; */
/* box-shadow:0 0 20px 9px #ff61241f; */
/* border-radius: 30px; */

}
.btn{
    
/* padding: 10px 30px; */
/* cursor: pointer; */
/* background: transparent; */
/* border: 0; */
/* outline: none; */

/* width: 110px; */
/* height: 100%; */
background: linear-gradient(to right, #ff105f,#ffad06);
/* border-radius: 30px; */
/* transition: .5s; */
}



</style>

