<% if current_user %>
<% if current_user.admin == true %>
<a href="/admin">Admin Panel</a>
<% else %>
<p>No Admin</p>
  
<% end %>

<% else %>

<div class="body">

        <div class="a">
           <h1 class="span"> <%= link_to 'Sign in', new_user_session_path, class:"btn" %></h1>

        </div>
        <div class="a">

            <h1  class="span"><%= link_to 'Sign up', new_user_registration_path, class:"btn " %></h1>
        </div>
</div>

<% end %>


 <style>

@import url('https://fonts.googleapis.com/css?family=Poppins:100, 200, 300, 400, 500, 600, 700, 800,900');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    /* background: #0e1538; */

}

</style> 


