<% if current_user %>
<% if current_user.admin == true %>
<a href="/admin">Admin Panel</a>
<% else %>
<p>No Admin</p>
  
<% end %>

<% else %>

<div class="hero">
    <div class="box">
        <div class="button">
           <h1 class="btn"> <%= link_to 'Sign in', new_user_session_path, class:"btn" %></h1>

        </div>
        <div class="button">

            <h1  class="btn"><%= link_to 'Sign up', new_user_registration_path, class:"btn " %></h1>
        </div>
    </div>
</div>

<% end %>
<%
=begin%>
 <style>

@import url('https://fonts.googleapis.com/css?family=Poppins:100, 200, 300, 400, 500, 600, 700, 800,900');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
.hero
{
    padding:10%;
    margin:10%;
display: flex;
justify-content: center;
align-items: center;
height: 50vh;
width:50vh;
background: #000;
}
.button{
    position: relative;
}
.button h1{
    position: absolute;
    color: #fff;
    transform: translate(-50%, -50%);
    font-size: 8em;
}
.button h1:nth-child(1)
{
color: transparent;
-webkit-text-stroke: 2px #03a9f4;
}
.button h1:nth-child(2)
{
color: #03a9f4;
animation: animate 4s ease-in-out;
}
</style> 
<%
=end%>

