<h1>Editing messenger</h1>

<%= render "edform", messenger: @messenger %>

<br>

<div>
  <%= link_to "Show this messenger", @messenger %> |
  <%= link_to "Back to messengers", messengers_path %>
</div>
